:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

nav#navbar.nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--main-red);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar, ul {
  
  padding: 3px;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 3px;
  align-items: center;
}

li {
  display: flex;
  margin: 3px;
}

a {
  font-color: green;
}

a:link {
  text-decoration: none;
}

#welcome-section {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section p {
  color: red;
  font-style: oblique 23deg;
}

#projects {
  height: 50%;
}

#social-links {
  height: 10%;
}

@media screen and (max-width: 768px){
	/* Estilizações CSS */
}

* { 
  margin: 0;
  padding: 0; 
  font: 1rem 'AmstelvarAlpha', sans-serif;
  
}
